html 
  head
    link(rel = 'stylesheet' href = '/css/styles.css')
  body 
    h1= showTitle
    div 
      h2 Season #{season.number}
      div(class = 'season-table')
        div(class = 'season-table-header')
          div(class = 'episode-table-header episode-number-header') No.
          div(class = 'episode-table-header episode-title-header') Title
          div(class = 'episode-table-header episode-director-header') Director
        for episode in season.episodes  
          div(class = 'episode')
            div(class = 'episode-top')
              div= episode.number 
              div= episode.title
              div= episode.director 
            div(class = 'episode-bottom')
              div= episode.synopsis  
